 /* body{ */
    /* background-image:url('./pexels-abdallah-maqboul-1591305.jpg') ;
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;  */

/* 
    background: url('./arif-riyanto-UD9nADGj2mc-unsplash.jpg') no-repeat center  center/cover;
}




h1 {color: black;
    background-color:white;
    font-size: 40pxs;
    text-decoration: rgb(114, 23, 114);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

p{color: blueviolet;
    text-align: center;
    line-height: 30px;
    letter-spacing: spacing 2px;
    column-count: 5;
    column-gap: 40px; }
    




ul{
    /* border: width 4px;
    border-style: solid;
    border-color: blueviolet;
     */
     /* border:4px solid blueviolet; */
     /* border-bottom: 4px solid blueviolet;
     border-left: 8px dashed;


}

li{
    list-style: square;
    /* text-shadow: 5px 6px brown; */
/* text-shadow: 2px 3px #E5E690; */ 

 

}
{
    
}

        


 



